@import '../../styles/variables.scss';
text-scroll {
  section.scroller {
    text-align: center;
    border-radius: 10px;
    border: 3px solid white;
    cursor: default;
    .col {
      padding: 0;
    }
    h1.selected {
      padding: 1rem;
      @media screen and (max-device-width: $screen-mobile-max) {
        font-size: 6rem;
        padding: 2rem 0;
      }
    }
    i.material-icons {
      transition: 0.5s;
      transform: scale(2.2, 1.6);
    }
    @media screen and (max-device-width: $screen-mobile-max) {
      .clickable {
        h3.unselected {
          font-size: 5rem;
          padding: 3rem 0;
        }
      }
    }
  }
  .unselected {
    color: $notSoGrey;
    transition: 0.5s;
    border-radius: 10px;
  }

  .clickable {
    transition: 0.5s;
    &.active {
      background-color: rgba(195, 197, 201, 0.3);
      h3.unselected {
        color: white;
      }
      i.material-icons {
        opacity: 0.5;
      }
    }
  }
}