@import '../../styles/variables.scss';
side-block-dog {
  section {
    .clickable {
      top: 0;
      background-color: rgba(217, 217, 217,0.5);
      z-index: 3;
    }
    .scroll-section {
      overflow-y: hidden;
    }
  }
}