@import '../../styles/variables.scss';
footer {
  box-shadow: 4px -7px 17px 0 rgba(0, 0, 0, 0.2)
  padding-top:  20px;
  background: $lightBlue;
  color: white;
  border-top: 6px solid white;
  padding-bottom: 20px;
  height: -moz-available;
  height: -webkit-fill-available;
  &.row {
    margin-bottom: 0;
  }
  a {
    color: white;
    font-size: 16px;
   font-style: italic;
   line-height: 37px;
  }
  .title {
    color: gainsboro;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: underline;
  }

  .footer-links {

  }
  #social {
    float: right;
    padding-top: 35px;
  }
  .social-icon {
    display: inline-block;
    img {
      cursor: pointer;
      width: 75px;
      padding-right:10px; 
    }
  }
  @media screen and (max-device-width: $screen-mobile-max) { 
    text-align: center;
    h5 {
      font-size: 3.5rem;
    }
    a  {
      font-size: 2.4rem;
      line-height: 60px;
    }
    #social {
      padding-top: 45px;
    }
  }
}