<footer class="row" [ngClass]="{'blur-new-user': newUser}">
  <div class="legal col offset-l2 l3 m12 s12">
      <h5 class="title">Informacion</h5>
      <ul class="footer-link">
        <li><a [routerLink]="['info', 'about']">Sobre nosotros</a></li>
        <li><a [routerLink]="['info', 'terms']" >Términos y condiciones</a></li>
        <li><a [routerLink]="['info', 'cookies']" >Sobre las cookies</a></li>
        <li><a [routerLink]="['info', 'privacy']">Privacidad</a></li>
        <li><a [routerLink]="['info', 'pricing']">Precios</a></li>
      </ul>
      
  </div>
  <div class="partners col l3 m12 s12">
      <h5 class="title">Ayuda</h5>
      <ul class="footer-link">
        <li><a [routerLink]="['info', 'faqs']">Preguntas frecuentes</a></li>
        <li><a href="mailto:soporte@lostdog.mx">soporte@lostdog.mx</a></li>
      </ul>
  </div>
  <div class="col l3 m12 s12" id="social">
      <div class="social-icon" (click)="toPage('https://www.facebook.com/LostDogMex')">
        <img src="static/facebook.png" alt="facebook logo">
      </div>
      <div class="social-icon">
        <img src="static/twitter.png" alt="twitter logo">
      </div>
      <div class="social-icon">
        <img src="static/instagram.png" alt="instagram logo">
      </div>      
  </div>
</footer>
