<footer class="row">
  <div class="legal col l3 m12 s12">
      <h5>Informacion util </h5>
      <p>(tambien hay informacion inutil... )</p>
      <a href="" >legal</a>
      <a href="" >Sobre las cookies</a>
      <a href="" >Privacidad</a>
  </div>
  <div class="partners col l3 m12 s12">
      <h5>socios</h5>
      <a href="" title="">un cuidador para tu perro</a>
      <a href="" title="">busca un hogar</a>
      <a href="" title="">crooketas a domicilio</a>
  </div>
  <div class="social col l6 m12 s12">
      <div class="facebook">
        <img src="static/facebook.png" alt="facebook logo">
      </div>
      <div class="twitter">
        <img src="static/twitter.png" alt="twitter logo">
      </div>
      <div class="instagram">
        <img src="static/instagram.png" alt="instagram logo">
      </div>      
  </div>
</footer>