<article class="hoverable"[ngClass]="{'expanded': viewMore, 'blur-filter': dogCardService.open && (userAt !== cardIndex)}" (click)="toogleviewMoreMobile()">
<h5>Nombre</h5>
  <h6  *ngIf="viewMore">Pug, Pitbull, RottWiller</h6>
  <h6 class="reward" *ngIf="viewMore">$ 3,500.00 MXN</h6>
  <figure>
    <div class="main-image" [ngStyle]="{'background-image': 'url(/static/temp-profile-dog.jpg)' }">
      <div class="dog-properties" [hidden]="!(!mobile || viewMore)">
        <!-- <div class="dog-gender-female property centered"><img src="/static/male.png"></div> -->
        <div class="dog-gender-male property centered tooltipped" data-position="left" data-tooltip="macho"><img src="/static/male.png"></div>
        <div class="dog-color property bg-img tooltipped" [ngStyle]="{'background-image': 'url(/static/propertyColor.png)' }"  data-position="left" data-tooltip="cafe claro con blanco"></div>
        <div class="dog-date property tooltipped " data-position="left" data-tooltip="Febrero del 2017">
          <p class="truncate">2017 </p>
          <p class="truncate">Feb</p>
        </div>
        <div class="dog-size small property bg-img tooltipped" data-position="left" data-tooltip="pequenio"></div>
      </div>
    </div>
  </figure>
  <figure>
    <div class="dog-properties-mobile" *ngIf="!(!mobile || viewMore)">
      <!-- <div class="dog-gender-female property centered"><img src="/static/male.png"></div> -->
      <div class="dog-gender-male property centered tooltipped" data-position="left" data-tooltip="macho"><img src="/static/male.png"></div>
      <div class="dog-color property bg-img tooltipped" [ngStyle]="{'background-image': 'url(/static/propertyColor.png)' }"  data-position="left" data-tooltip="cafe claro con blanco"></div>
      <div class="dog-date property tooltipped " data-position="left" data-tooltip="Febrero del 2017">
        <p class="truncate">2017 </p>
        <p class="truncate">Feb</p>
      </div>
      <div class="dog-size small property bg-img tooltipped" data-position="left" data-tooltip="pequenio"></div>
    </div>  
  </figure>  
  <div class="location">
    <i class="material-icons left location">location_on</i>
    <p *ngIf="!mobile || viewMore">Av. de los blancos, 557, Ciudad del Sol, Zapopan, Jalisco</p>
    <p class="mobile truncate" *ngIf="!(!mobile || viewMore)">Ciudad del sol, Zapopan </p>
  </div>
  <div class="accessories row" [hidden]="!viewMore">
    <div class="accessory colar tooltipped" data-position="top" data-tooltip="collar"></div>
    <div class="accessory tag tooltipped" data-position="top" data-tooltip="tag"></div>
    <div class="accessory sueter tooltipped" data-position="top" data-tooltip="sueter"></div>
    <div class="accessory sun-glasses tooltipped" data-position="top" data-tooltip="lentes"></div>
  </div>
  <div class="row extras-comments" *ngIf="viewMore">
    <p>Algunos comentraios extras sobre el perrro que propociona informacion extra ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>
  <a class="close" (click)="toogleViewMore()">cerrar</a>
  <a class="row waves-effect btn info" (click)="toogleViewMore()" *ngIf="!viewMore">Ver mas</a>
  <a class="row waves-effect btn action"  *ngIf="viewMore" (click)="myDog()">
    <div [hidden]="!lost">Mi perro</div>
    <div [hidden]="lost">Lo encontré </div>
  </a>
</article>