<article class="hoverable dog-card" [ngClass]="{'expanded': viewMore, 'blur-filter': dogCardService.open && (userAt !== cardIndex)}" (click)="toogleviewMoreMobile()" *ngIf="data && mappedData">
<h5 *ngIf="data.name" class="name-title">{{data.name}}</h5>
  <h6 class="breed-title" *ngIf="!viewMore && !data.name">{{mappedData.breed}}</h6>
  <h5 *ngIf="viewMore && !data.name">{{mappedData.breed}}</h5>
  <h6 *ngIf="viewMore && data.name">{{mappedData.breed}}</h6>
  <h6 class="reward" *ngIf="viewMore && data.reward"> $ {{data.reward}} MXN</h6>
  <figure>
    <div class="main-image" [ngStyle]="{'background-image': 'url(' + (data.images && data.images.length && data.images[0].image_url) ||  '/static/temp-profile-dog.jpg' + ')' }">
      <div class="dog-properties" [hidden]="!(!mobile || viewMore)">
        <!-- <div class="dog-gender-female property centered"><img src="/static/male.png"></div> -->
        <div class="dog-gender property bg-img tooltipped" [ngStyle]="{'background-image': 'url(' + mappedData.gender.imgUrl + ')'}"  data-position="left" [attr.data-tooltip]="mappedData.gender.name"></div>
        <div class="dog-color property bg-img tooltipped" data-position="left" [attr.data-tooltip]="+mappedData.colors">
          <dog-figure [display]="data.pattern_id"></dog-figure>
        </div>
        <div class="dog-date property tooltipped " data-position="left" [attr.data-tooltip]="mappedData.date.name">
          <p class="truncate">{{mappedData.date.short.split(' ')[0]}} </p>
          <p class="truncate">{{mappedData.date.short.split(' ')[1]}}</p>
        </div>
        <div class="dog-size property bg-img tooltipped" [ngStyle]="{'background-image': 'url(' + mappedData.size.imgUrl + ')'}" data-position="left" [attr.data-tooltip]="mappedData.size.name" ></div>
      </div>
    </div>
  </figure>
  <figure>
    <div class="dog-properties-mobile" [ngStyle]="{'display': (!mobile || viewMore) ? 'none' : 'flex'}">
      <!-- <div class="dog-gender-female property centered"><img src="/static/male.png"></div> -->
      <div class="dog-gender property bg-img tooltipped" [ngStyle]="{'background-image': 'url(' + mappedData.gender.imgUrl + ')'}"  data-position="left" [attr.data-tooltip]="mappedData.gender.name"></div>
      <div class="dog-color property bg-img tooltipped"  data-position="left" [attr.data-tooltip]="+mappedData.colors">
        <dog-figure [display]="data.pattern_id"></dog-figure>
      </div>
      <div class="dog-date property tooltipped " data-position="left" [attr.data-tooltip]="mappedData.date.name">
        <p class="truncate">{{mappedData.date.short.split(' ')[0]}} </p>
        <p class="truncate">{{mappedData.date.short.split(' ')[1]}}</p>
      </div>
      <div class="dog-size property bg-img tooltipped" [ngStyle]="{'background-image': 'url(' + mappedData.size.imgUrl + ')'}" data-position="left" [attr.data-tooltip]="mappedData.size.name" ></div>
    </div>  
  </figure>  
  <div class="location" [hidden]="!data.address">
    <i class="material-icons left location">location_on</i>
    <p *ngIf="!mobile || viewMore">{{data.address}}</p>
    <p class="mobile truncate" *ngIf="!(!mobile || viewMore)">{{data.address}}</p>
  </div>
  <div class="accessories row" [hidden]="!(viewMore && mappedData.accessories)">
    <div class="accessory tooltipped" data-position="top" data-tooltip="collar" *ngFor="let access of mappedData.accessories;let i= index" [ngStyle]="{'background-image': 'url(' + access.imgUrl + ')'}"> </div>
  </div>
  <div class="row extras-comments" *ngIf="viewMore && data.description">
    <p>{{data.description}}</p>
  </div>
  <a class="close" (click)="toogleViewMore()">cerrar</a>
  <a class="row waves-effect btn info" (click)="toogleViewMore()" *ngIf="!viewMore">Ver mas</a>
  <a class="row waves-effect btn action"  *ngIf="viewMore" (click)="myDog()">
    <div [hidden]="data.lost">Mi perro</div>
    <div [hidden]="!data.lost">Lo encontré </div>
  </a>
</article>