<div class="page review-payment"> 
  <div class="row" [hidden]="ShowSendEmail">
    <div class="col push-l1 l5 m12 s12 dog-card" *ngIf="dogData">
      <h5 class="subtitle" [hidden]="!lost">Revisa tu perro</h5>
      <h5 class="subtitle" [hidden]="lost">Revisa el perro que encontraste </h5>
      <dog-card  #DogCard [atReviewPage]="true"  [data]="dogData" [maxCards]="1" [cardIndex]="0"></dog-card>
    </div>
    <div class="col push-l2 l4 m12 s12 steps-block" [hidden]="!((lost && !rewardSetted ) || (transcationId && !rewardSetted))">
      <h5 class="subtitle" [hidden]="!lost">Agrega una recompenza</h5>
      <h6 class="subtitle subheader" [hidden]="!lost"> ...para agradecer a la persona que lo encontró y lo cuido</h6>
      <h5 class="subtitle" [hidden]="lost">Tu recompenza es menor al valor estimado.</h5>
      <h6 class="subtitle subheader" [hidden]="lost">tu recomenza es <span>{{fixedReward}}</span> pero puedes cambiarla</h6>
      <div class="steps money-reward action draw account-completed" (mouseover)="foucusMoney()" (mouseleave)="clearInput()">
        <h2>$</h2>
        <input id="money-input" type="text" name="recompoenza"  [(ngModel)]="reward" size="10">
        <h2 class="currency">MXN</h2>
        <h6 class="under" [ngStyle]="{'opacity': reward !== EstimReward ? 0 : 1}">* valor estimada para mantener un perro {{dogSize}} por {{totalDays}} dias</h6>
      </div>
      <div class="centered submit">
        <button class="waves-effect btn warning" [disabled]="!dogData" *ngIf="transcationId && !rewardSetted" (click)="setReward()" (mouseover)="tempReward=reward;reward=fixedReward" (mouseleave)="reward=tempReward">Conservar<i class="medium material-icons right">chevron_right</i></button>
        <button class="waves-effect btn info" [disabled]="!dogData" *ngIf="transcationId && !rewardSetted" (click)="setReward()" (mouseover)="reward=calcEstimatedReward(dogData)">Cambiar<i class="medium material-icons right">chevron_right</i></button>
        <button class="waves-effect btn info" [disabled]="!dogData" *ngIf="!(transcationId && !rewardSetted)" (click)="setReward()">Seguir<i class="medium material-icons right">chevron_right</i></button>
      </div>
    </div>
    <div class="col push-l2 l4 m12 s12 steps-block" [hidden]="!rewardSetted">
      <h5 class="subtitle">Que sigue?</h5>
      <div class="steps">
        <h6><b>1.</b> primero te haremos el cargo  de la recompenza. No te preocupes, si no es tu perro, <b>te regresamos tu dinero.</b></h6>
        <h6><b>2.</b> te mandaremos el contacto de quien lo econtró para que te pongas de acuerdo donde y a que horas verse.</h6>
        <h6><b>3.</b> una vez que recibas el perro asegura de pasarle el <b>codigo QR</b> que se te envó por correo al rescatista para que puda recoletar su recompenza.</h6>
      </div>
      <div class="centered submit">
        <button class="waves-effect btn action" [disabled]="!dogData" (click)="next()">aceptar<i class="medium material-icons right">thumb_up</i></button>
      </div>      
    </div>    
    <div class="col push-l2 l4 m12 s12 steps-block" [hidden]="lost || transcationId">
      <h5 class="subtitle">Pasos</h5>
      <div class="steps" >
        <h6><b>1.</b> Le mandaremos tu datos al dueño, si es su perro, El se podra en contanto contigo.</h6>
        <h6><b>2.</b> Agenda una hora y lugar donde entregaras el perro.</h6>
        <h6><b>3.</b> Una vez de lo entregues, recuerda escanear el codigo QR se le envió al dueño.</h6>
        <h6><b>4.</b> Subelo en la liga que te llegará por correo, para recibir tu recompenza.</h6>
      </div>      
    <div class="centered submit">
      <button class="waves-effect btn action" [disabled]="!dogData" (click)="next()">aceptar<i class="medium material-icons right">thumb_up</i></button>
    </div>
    </div>    
  </div>
    <div class="row" [hidden]="!ShowSendEmail">
    <div class="col l10 push-l1 m12 s12 todo"> <i class="medium material-icons">email</i></div>
    <div class="col l10 push-l1 m12 s12 todo">
      <h5>Te hemos enviado un correo con los datos del reporte.</h5>
      <h5>Pronto el dueño se pondra en contacto contigo.</h5>
    </div>    
  </div>
</div>