@import '../../../common/styles/variables.scss';
review-payment {
  .img-back {
    i.material-icons.large {
      @media screen and (max-device-width: $screen-mobile-max) {
        font-size: 15rem;
      }
    }
    .size {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 12px;
      @media screen and (max-device-width: $screen-mobile-max) {
        margin-bottom: 0;
      }
    }
  }
  .col.extra-space {
    padding-top: 10px;
    margin: 0 10px 50px 10px;
  }
  .wrong-icon {
    color: $redAccent;
  }
  dog-card {
    width: 100%;
    article.expanded {
      position: inherit;
      box-shadow: none;
      max-height: 750px;
      padding: 20px 5px;
      a.close {
        display: none;
      }
      a.btn {
        display: none;
      }
      &.hoverable:hover {
        box-shadow: none;
      }
    }     
    }
    .subheader {
      color: grey;
    }
    .under {
      color: grey;
      width: 100%;
      text-align: right;
      padding-right: 15px;
    }
    .money-reward {
      color: $greenMat;
      padding: 50px 3px;
      @media screen and (max-device-width: $screen-mobile-max) {
        input#money-input {
            width: 35%;
        }
        .under {
          padding: 0 100px;
        }
      }
    }

  .steps {
    margin-top: 80px;
    h6 {
      padding-bottom: 20px;
      @media screen and (max-device-width: $screen-mobile-max) {
        padding-bottom: 50px;
      }
    }
  }
  .submit {
    margin-top: 40px;
    @media screen and (max-device-width: $screen-mobile-max) {
      margin-top: 80px;
    }
  }
  button.btn {
    @media screen and (max-device-width: $screen-mobile-max) {
      height: 110px;
      font-size: 3rem;
      padding: 0 50px;
      .material-icons {
        font-size: 3rem;
      }
    }
  }
  div.col.steps-block {
    @media screen and (max-device-width: $screen-mobile-max) {
      margin-top: 50px;
      padding: 50px;
    }
  }
  .todo {
    text-align: center;
    h5  {
      margin-bottom: 40px;
    }
    @media screen and (max-device-width: $screen-mobile-max) {
      margin: 50px 0;
      i.material-icons {
        font-size: 8rem;
      }
      h5 {
        font-size: 3rem;
      }
    }
  }  
}