<div class="review-page row" [ngClass]="{'remove-extra': LostService.openPayment}">
  <div class="col l6 push-l3 s12" [hidden]="LostService.savedSuccess && LostService.savedImgs" *ngIf="!LostService.openPayment">
    <div class="centered zise" *ngIf="LostService.dogPicture" (click)="LostService.goTo(LostService.sequence.length-2)">
      <div  class="profile-dog" [ngStyle]="{'background-image': 'url(' + LostService.dogPicture + ')' }">
        <div class="overlay"><a>Editar</a></div>
      </div>
    </div> 
    <ul class="collection with-header">
      <li class="collection-header avatar"  *ngIf="LostService.dogName"><h5>{{LostService.dogName}}</h5><a  class="secondary-content" (click)="LostService.goTo(LostService.sequence.length-3)">Editar</a></li>
      <li class="collection-item avatar centered" *ngIf="LostService.parentPage==='lost'">
        <div class="circle material-icons location"><i class="medium material-icons">attach_money</i></div>
        <span class="title"><b>Recompenza:</b> $ {{LostService.reward}} MXN</span>
        <a class="secondary-content" (click)="LostService.goTo(LostService.sequence.length-2)">Editar</a>
      </li>
      <li class="collection-item avatar centered" *ngFor="let description of LostService.displayedSequence; let i=index">
        <div class="circle material-icons location" *ngIf="LostService.sequence[i]==='location'"><i class="medium material-icons">location_on</i></div>
        <div class="circle material-icons location" *ngIf="LostService.sequence[i]==='date'"><i class="medium material-icons">date_range</i></div>
        <div  style="margin: 0" *ngIf="pageAnswersCopy[i] && window.Array.isArray(pageAnswersCopy[i]) && pageAnswersCopy[i][0] && LostService.sequence[i]!=='pattern'">
          <div  class="circle" *ngFor="let imgUrl of pageAnswersCopy[i][0].imgUrls; let j=index" [ngStyle]="{'background-image': 'url(' + imgUrl+ ')' , 'left':  imgwidth*j + 'px', 'background-color': pageAnswersCopy[i][0].names[j].charAt(0)==='#' && pageAnswersCopy[i][0].names[j]}"></div>
        </div>
        <div class="circle " *ngIf="LostService.sequence[i]==='pattern' && pageAnswersCopy[i] && pageAnswersCopy[i][0] && pageAnswersCopy[i][0].names.length > 1" style="margin: 0">
          <dog-figure [display]="pageAnswersCopy[i][0].names"></dog-figure>
        </div>
        <div class="circle" [ngStyle]="{'background-image': 'url(' + pageAnswersCopy[i].imgUrl + ')' }" *ngIf="pageAnswersCopy[i] && !LostService.sequence[i].imgUrl"></div>
        <span class="title" *ngIf="LostService.sequence[i]==='date'"><b>{{description}}:</b>  {{pageAnswersCopy[i]}}</span>
        <span class="title" *ngIf="pageAnswersCopy[i] && LostService.sequence[i]==='location'"><b>{{description}}:</b>  {{pageAnswersCopy[i].address}}</span>
        <span class="title" *ngIf="pageAnswersCopy[i] && LostService.sequence[i]!=='location' && LostService.sequence[i]!=='date' && !window.Array.isArray(pageAnswersCopy[i])"><b>{{description}}:</b>  {{pageAnswersCopy[i].name}}</span>
        <span class="title" *ngIf="pageAnswersCopy[i] && window.Array.isArray(pageAnswersCopy[i]) && pageAnswersCopy[i][0]"><b>{{description}}:</b>  {{ ''+ pageAnswersCopy[i][0].names}}</span>
        <a class="secondary-content" (click)="LostService.goTo(i)">Editar</a>
      </li>
      <li class="collection-item avatar centered" *ngIf="LostService.comments">
        <div class="circle material-icons location"><i class="medium material-icons">comment</i></div>
        <span class="title"><b>Comentarios:</b>  {{LostService.comments}} </span>
        <a class="secondary-content" (click)="LostService.goTo(LostService.sequence.length-2)">Editar</a>
      </li>      
    </ul>    
    <button class="waves-effect btn action submit" [disabled]="LostService.loadingSave && !LostService.savedImgs">
      <div *ngIf="LostService.parentPage==='lost' && !LostService.loadingSave" (click)="toPaymentForm()">Si! es mi perro<i class="material-icons right">send</i></div>
      <div *ngIf="LostService.parentPage==='found' && !LostService.loadingSave" (click)="LostService.saveToApi()">Si!  es el perro<i class="material-icons right">send</i></div>
      <div *ngIf="LostService.loadingSave && !LostService.savedImgs">Carngado ...</div>
    </button>
  </div>
  <div class="col l12 m12 s12 centered" *ngIf="LostService.savedSuccess && LostService.savedImgs">
      <dog-card  [atReviewPage]="true"  [data]="LostService.savedData"  [maxCards]="1" [cardIndex]="0"></dog-card>
  </div>
  <div class="col l6 push-l3 s12" *ngIf="LostService.openPayment">
    <ul class="collection with-header" #Description>
      <li class="collection-item avatar centered" >
        <div class="circle" [ngStyle]="{'background-image': 'url(' + LostService.dogPicture + ')' }" ></div>
        <span class="title title-money">
          <b>{{paymentDesc}}</b>
          <span style="color:#26a69a">$ 65.00 MXN</span>
        </span>
        <a  class="secondary-content" (click)="LostService.openPayment=false">Editar</a>
      </li>
    </ul> 
  </div>
</div>
