@import './variables.scss';

.input-field {
  label {
    color: Gainsboro;
  }
  input[type] {
    border-bottom: 1px solid Gainsboro;
    border-radius: 5px;
    color: white;
  }
  input[type]:focus:not([readonly]) {
      border-bottom: 1px solid  white;
      box-shadow: 0 1px 0 0 white;
  }
  input[type]:focus:not([readonly]) + label{
    color: white;
  }
  ul {
    &.dropdown-content.select-dropdown {
      border-radius: 7px;
      li:first-of-type > span {
        padding-left: 50px;
      }
    }
  }
}

.input-field.alt-black {
  label {
    color: grey;
  }
  input[type] {
    color: grey;
    border-bottom: 1px solid grey;
  }
  input[type]:focus:not([readonly])  {
      border-bottom: 1px solid  white;
      box-shadow: 0 1px 0 0 white;
      color: black;
  }

  input[type]:focus:not([readonly]) + label{
    color: white;
  }
}

.input-field.wrong-red {
  label {
    color: $redAccent;
    font-size: 12px;
  }
  input[type] {
    color: $redAccent;
    border-bottom: 1px solid $redAccent;
  }
  input[type]:focus:not([readonly])  {
      border-bottom: 1px solid  $redAccent;
      box-shadow: 0 1px 0 0 $redAccent;
      color: black;
  }

  input[type]:focus:not([readonly]) + label{
    color: $redAccent;
  }
}

button.btn, div.btn {
  z-index: 1;
  &.info {
    background-color: $buttonInfo;
  }
  &.warning {
    background-color: $buttonWarning;
  }
  &.action {
    background: $buttonAction;
  }
  &.danger {
    background: $redAccent2;
  }
  &:hover {
    &.info {
      background-color: $butttonInfoHover;
    }
    &.warning {
      background-color: $buttonWarningHover;
    }
    &.action{
      background: $buttonActionHover;
    }
    &.danger {
      background: $redAccent;
    }
  }
}

[type="checkbox"]:checked + label:before  {
 @media screen and (max-device-width: $screen-mobile-max) {
    top: -15px;
    left: -30px;
    width: 24px;
    height: 44px;
    border-width: 6px;
 }
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  @media screen and (max-device-width: $screen-mobile-max) {
    top: -8px;
    left: -16px;
    width: 36px;
    height: 36px;
    border-width: 4px;
    border-radius: 2px;
  }
}

[hidden], template {
      display: none !important;
}

ul.autocomplete-content.dropdown-content {
  border-radius: 5px;
  @media screen and (max-device-width: $screen-mobile-max) {
    border-radius: 10px;
    li > a, li > span {
      font-size: 3rem;
      line-height:4rem;
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 2px solid grey;
    }
    img {
      margin-top: 20px;
      width: 100px;
      height: 100px;
    }
  }
}
