@import './variables.scss';
 // starts dropdowm
div.select-wrapper  {
  .invisible {
    opacity: 0;
  }
  input.select-dropdown {
    z-index: 1;
  }
  div.select-dropdown {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    z-index: 0;
    top: 0;
  }
  @media screen and (max-device-width: $screen-mobile-max) {
    input.select-dropdown {
      font-size: 2.5rem;
      height: 4rem;
      padding-bottom: 30px;
      padding-top: 20px;
    }
    span.caret {
      right: -20px;
      font-size: 2rem;
    }
    div.select-dropdown {
      font-size: 3rem;
      height: 4.5rem;
      text-align: center;      
    }
    ul.dropdown-content.select-dropdown {
      li {
          line-height: 4rem;
          padding: 10px;
          margin: 30px;
      }
      li > span {
        font-size: 3.5rem;

      }
    }
  }
}
ul {
  &.dropdown-content.select-dropdown {
    border-radius: 7px;
    li:first-of-type > span {
      padding-left: 50px;
      @media screen and (max-device-width: $screen-mobile-max) {
        padding-left: 50px;
      }
    }
  }
}
  //end of dropdown

.input-field {
  label {
    color: Gainsboro;
  }
  input[type] {
    border-bottom: 1px solid Gainsboro;
    border-radius: 5px;
    color: white;
    @media screen and (max-device-width: $screen-mobile-max) {
      height: auto;
    }
  }
  input[type]:focus:not([readonly]) {
      border-bottom: 1px solid  white;
      box-shadow: 0 1px 0 0 white;
  }
  input[type]:focus:not([readonly]) + label{
    color: white;
  }
}

.input-field.alt-black {
  label {
    color: grey;
  }
  input[type] {
    color: grey;
    border-bottom: 1px solid grey;
    @media screen and (max-device-width: $screen-mobile-max) {
      border-bottom: 4px solid grey;
    }
  }
  input[type]:focus:not([readonly])  {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: black;
    @media screen and (max-device-width: $screen-mobile-max) {
      border-bottom: 4px solid white;
    }
  }

  input[type]:focus:not([readonly]) + label{
    color: white;
  }
}

.input-field.wrong-red {
  label {
    color: $redAccent;
    font-size: 12px;
  }
  input[type] {
    color: $redAccent;
    border-bottom: 1px solid $redAccent;
    @media screen and (max-device-width: $screen-mobile-max) {
      border-bottom: 4px solid $redAccent;
    }
  }
  input[type]:focus:not([readonly])  {
    border-bottom: 1px solid  $redAccent;
    box-shadow: 0 1px 0 0 $redAccent;
    color: black;
    @media screen and (max-device-width: $screen-mobile-max) {
      border-bottom: 4px solid $redAccent;
    }      
  }

  input[type]:focus:not([readonly]) + label{
    color: $redAccent;
  }
}

button.btn, div.btn {
  z-index: 1;
  &.info {
    background-color: $buttonInfo;
  }
  &.warning {
    background-color: $buttonWarning;
  }
  &.action {
    background: $buttonAction;
  }
  &.danger {
    background: $redAccent2;
  }
  &.fb {
    background-color: $fbBlueHov;
    .fb-img {
      display: inline-block;
      white-space: nowrap;
      float: right;
      line-height: 47px;
      margin: 0 5px;
      img {
        width: 22px;
        height: 22px;
      }
    }
    .fb-text {
      display: inline-block;
    }
      @media screen and (max-device-width: $screen-mobile-max) {
        .fb-img {
          line-height: inherit;
          img {
            width: 60px;
            height: 60px;
          }
        }
        .fb-text {
          line-height: 65px;
        }
      }    
  }
  &:hover {
    &.info {
      background-color: $butttonInfoHover;
    }
    &.warning {
      background-color: $buttonWarningHover;
    }
    &.action{
      background: $buttonActionHover;
    }
    &.danger {
      background: $redAccent;
    }
    &.fb {
      background-color: $fbBlue;
    }
  }
}

[type="checkbox"]:checked + label:before  {
 @media screen and (max-device-width: $screen-mobile-max) {
    top: -15px;
    left: -30px;
    width: 24px;
    height: 44px;
    border-width: 6px;
 }
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  @media screen and (max-device-width: $screen-mobile-max) {
    top: 0px;
    left: -50px;
    width: 70px;
    height: 70px;
    border-width: 4px;
    border-radius: 2px;
  }
}

[hidden], template {
      display: none !important;
}

ul.autocomplete-content.dropdown-content {
  border-radius: 5px;
  @media screen and (max-device-width: $screen-mobile-max) {
    border-radius: 10px;
    li > a, li > span {
      font-size: 3rem;
      line-height:4rem;
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 2px solid grey;
    }
    img {
      margin-top: 20px;
      width: 100px;
      height: 100px;
    }
  }
}

textarea.materialize-textarea {
  @media screen and (max-device-width: $screen-mobile-max) {
    font-size: 2rem;
    height: 150px;
  }
}
