$lightBlue: #4392ca;
$primaryFont: "Roboto";
$pink: #ff6da4;
$buttonInfo: #67ADE3;
$buttonAction: #99df3e;
$buttonActionHover: #afff47;

$screen-mobile-min: 375px;
$screen-tablet-min: 768px;
$screen-desktop-min: 992px;

$screen-mobile-max: ($screen-tablet-min - 1); //767px
$screen-tablet-max: ($screen-desktop-min - 1); //991px
$screen-desktop-max: 1800px;
