// colors
$lightBlue: #4392ca;
$primaryFont: "Roboto";
$pink: #ff6da4;
$pinkFemale: #E87FB6;
$buttonInfo: #67ADE3;
$butttonInfoHover: #7cc0f4;
$buttonAction: #99df3e;
$buttonActionHover: #afff47;
$lightGrey: #d9d9d9;
$lighterGrey: #F2F2F2;
$notSoGrey: #C3C5C9;
$redAccent: #ff1744;
$redAccent2: #ee6e73;

//  screen breakpoints
$screen-mobile-min: 375px;
$screen-tablet-min: 768px;
$screen-desktop-min: 992px;

$screen-mobile-max: ($screen-tablet-min - 1); //767px
$screen-tablet-max: ($screen-desktop-min - 1); //991px
$screen-desktop-max: 1800px;
