<section class="sideblock">
  <div class="clickable left"[ngStyle]="{'height': scrolling.nativeElement.clientHeight + 'px'}" (click)="goLeft()" [ngClass]="{'active': pressedLeft}" *ngIf="showArrows && scrolling.nativeElement.scrollLeft">
    <i class="material-icons">navigate_before</i>
  </div>
  <div class="scroll-section" (scroll)="onScroll($event)" #ScollSection>
    <div class="row" id="rowSide" *ngFor="let rowSide of arrayOfArrays;let i= index" [ngStyle]="{'width': rowWidth}">
        <div  *ngFor="let element of rowSide;let j= index" class="tooltipped element"  data-position="top" id="{{element.key}}" #block (click)="!patternType && blockSelected(i,j)"  [ngClass]="{'disabled-img': element.disabled && !patternType, 'disabled-pattern': element.disabled && patternType}">
        <div class="img-bg" [ngStyle]="{'background-image': 'url(' + element.imgUrl + ')', 'background-color': element.bgColor }" *ngIf="!patternType">
          <div class="img-bg cover-disable" [hidden]="!element.disabled"></div>
        </div>
        <div class="pattern img-bg"  *ngIf="patternType">
          <dog-figure [display]="element.name" [indexed]="i *splittedArray+j" (dogClicked)="dogClicked($event)"></dog-figure>          
        </div>
        <div class="colors centered" *ngIf="patternType && colors && colors.length > 1" [ngClass]="{'enable-colors': element.disabled}">
            <div  (click)="colorSelected(i,j,w)" class="color" *ngFor="let color of colors;let w=index" [ngStyle]="{'background-color': color}" [ngClass]="{'width-half': colors.length === 2, 'width-third': colors.length === 3, 'disabled-color': colorOptions[i *splittedArray+j][w].disabled}"></div>
        </div> 
        </div>
    </div>
  </div>
  <div class="clickable right"[ngStyle]="{'height': scrolling.nativeElement.clientHeight + 'px'}" (click)="goRight()" [ngClass]="{'active': pressedRight}" *ngIf="showArrows && scrolling.nativeElement.scrollLeft!==maxScrollLeft ">
    <i class="material-icons">navigate_next</i>
  </div>
</section>