<section class="page">
  <div class="row title-question"  [ngClass]="{'blur-filter': dogCardService.open}">
    <h5 class="col l4 push-l4 s12">{{lostService.question}}</h5>
    <div class="input-field col l2  s4 push-s4 push-l3" [hidden]="!(lostService.inputField && lostService.inputField.type==='date')">
          <input type="text" name="question" id="question" [(ngModel)]="lostService.answer" (focus)="lostService.answer=undefined">
          <!-- <label for="question">{{inputField.label}}</label> -->
    </div>
    <form #addressSearch="ngForm" (ngSubmit)="lostService.locationAdressInput=lostService.address" [hidden]="!(lostService.inputField && lostService.inputField.type==='address')">
      <div class="input-field col l3  s11 push-l3">
            <input type="text" name="addresss" id="address" [(ngModel)]="lostService.address" (focus)="onFocusAddres()">
            <i class="material-icons right" (click)="lostService.locationAdressInput=lostService.address">search</i>
            <!-- <label for="question">{{inputField.label}}</label> -->
      </div> 
    </form>
    <div class="input-field col l3  s11 push-l3 img-output" *ngIf="lostService.inputField && lostService.inputField.type==='image'">
      <div style="height: 61px;"></div>
        <div title="caracteristicas selecionada" class="img-block tooltipped" data-position="top" id="{{lostService.imgAnswer.key}}" *ngIf="lostService.imgAnswer && lostService.imgAnswer.disabled===true">
          <div title="cerrar" class="close-icon" (click)="imgBlockRemove()">
            <i class="tiny material-icons">close</i>
          </div>
          <img src="{{lostService.imgAnswer.imgUrl}}">
        </div>
    </div>     
  </div>
  <div class="component-container" [ngClass]="{'blur-filter': dogCardService.open}">
    <router-outlet></router-outlet>
    <div class="buttons row">
      <button class="waves-effect btn warning" (click)="lostService.back('lost')" [ngClass]="{'disappear': lostService.pagePosition === 0}">Atras <i class="material-icons left">chevron_left</i></button>
      <button class="waves-effect btn info" (click)="lostService.setAnwer()"  [disabled]="!lostService.getGeneralAnswer()">responder <i class="material-icons right">send</i></button>
      <button class="waves-effect btn action"  (click)="lostService.next('lost')"  [disabled]="!lostService.pageAnswers[lostService.pagePosition]">Siguiente <i class="material-icons right">chevron_right</i></button>
    </div>
  </div>
  <div class="row results">
    <div *ngIf="dogCardService.open" class="block-back col l12"></div>
    <dog-card *ngFor="let card of dogCards;let i= index" (click)="userAt=i;" [cardIndex]="i" [userAt]="userAt"></dog-card>
  </div>
</section>