<section class="page">
  <div class="row title-question"  [ngClass]="{'blur-filter': dogCardService.open}">
    <h5 class="col l4  s4"  [ngClass]="{'push-l2 push-m2 push-s2': lostService.question2 && !lostService.question}" *ngIf="lostService.question2">{{lostService.question2}}</h5>
    <h5 class="col l4 push-l4 s12" [ngClass]="{'push-l4 s12': !(lostService.question2&&lostService.question3), 's4': (lostService.question2&&lostService.question3)}" *ngIf="lostService.question">{{lostService.question}}</h5>
    <h5 class="col l4  s4" *ngIf="lostService.question3" [ngClass]="{'push-l2 push-m2 push-s2': lostService.question3 && !lostService.question}">{{lostService.question3}}</h5>
    <div class="input-field col l2 s8 push-s2 push-l3 mobile-extra-top" [hidden]="!(lostService.inputField && lostService.inputField.type==='date')">
          <input type="text" name="question" id="question" [(ngModel)]="lostService.answer" (focus)="lostService.answer=undefined">
          <!-- <label for="question">{{inputField.label}}</label> -->
    </div>
    <button class="btn waves-effect info" id="date-input" (click)="setDate()" *ngIf="(lostService.inputField && lostService.inputField.type==='date')"><i class="material-icons">send</i></button>
    <form #addressSearch="ngForm" (ngSubmit)="lostService.locationAdressInput=lostService.address;lostService.matchService.rangeRadius=0.5;" [hidden]="!(lostService.inputField && lostService.inputField.type==='address')">
      <div class="input-field col l3  s10 push-s1 push-l3 mobile-extra-top">
            <input type="text" name="addresss" id="address" [(ngModel)]="lostService.address" (focus)="onFocusAddres()">
            <!-- <label for="question">{{inputField.label}}</label> -->
      </div> 
    <button class="btn waves-effect info"  id="location-search" (click)="lostService.locationAdressInput=lostService.address" *ngIf="(lostService.inputField && lostService.inputField.type==='address')"><i class="material-icons">search</i></button>
    </form>
    <div class="input-field col l2  s10 push-l3 push-s1 img-output" *ngIf="lostService.inputField && lostService.inputField.type==='image'">
      <div style="height: 45px;"></div>
        <div title="caracteristicas selecionada" class="img-block left-centered" data-position="top" id="{{lostService.imgAnswer.key}}" *ngIf="lostService.imgAnswer && lostService.imgAnswer.disabled">
          <div title="cerrar" class="close-icon" (click)="imgBlockRemove()">
            <i class="tiny material-icons">close</i>
          </div>
          <p>{{lostService.imgAnswer.name}}</p>
        </div>
    </div>
    <div class="input-field  pattern-selected" *ngIf="lostService.inputField && lostService.inputField.type==='pattern'">
      <dog-figure  *ngIf="lostService.multipleImgAnswers && lostService.multipleImgAnswers.pattList" [display]="lostService.multipleImgAnswers.pattList"></dog-figure>
    </div>    
    <div class="input-field col l3  s10 push-s1 push-l3 img-output mult" *ngIf="lostService.inputField && lostService.inputField.type==='multiple'">
      <div style="height: 45px;"></div>
      <div *ngFor="let block of lostService.multipleImgAnswers;let i= index" class="multiple"  title="caracteristicas selecionadas">
        <div class="img-block" data-position="top" id="{{block.key}}"  *ngIf="block.disabled">
          <div title="cerrar" class="close-icon" (click)="multipleBlockRemove(i)">
            <i class="tiny material-icons">close</i>
          </div>
          <p [ngStyle]="{'background-color': block.name.charAt(0)==='#' && block.name}">{{block.label || block.name}}</p>
        </div>
      </div>
    </div>
    <button [hidden]="!(childPage==='breed')" class="btn info breed-search breed" (click)="lostService.openBreedSearch=true" #ButtonBreedSearch><i  class="material-icons">search</i></button>
  </div>
  <div class="progress-bar col l12 s12 m12" #Progress  [ngClass]="{'blur-filter': dogCardService.open}">
    <div class="progression" [ngStyle]="{'width':  progress*fullWidth + 'px' }" [ngClass]="{'completed': progress === 1}">
      <p class="progress-number"  [ngClass]="{'progress-full': progress === 1}" *ngIf="progress">{{progress * 100 | number:'2.0-0'}}%</p>
    </div>
  </div>
  <div class="component-container" [ngClass]="{'blur-filter': dogCardService.open}">
    <router-outlet></router-outlet>
    <div class="map-block" [ngStyle]="{'width': mapWidth + 'px'}" *ngIf="lostService && lostService.matchService && startMap" [ngClass]="{'hidden': lostService.defualtSequence[lostService.pagePosition]!=='location'}">
      <map (locationAdressEmiter)="lostService.address=$event;changeMapElement($event);" (locationEmiter)="lostService.latLng=$event;changeMapElement($event);" [locationAdress]="lostService.locationAdressInput" [location]="lostService.latLong" [rangeRadius]="lostService.matchService.rangeRadius"></map>
    </div>
    <div class="buttons row" *ngIf="lostService.pagePosition !== lostService.sequence.length - 1">
      <button class="waves-effect btn warning" (click)="lostService.back()" [disabled]="lostService.searchService.timer || lostService.searchService.loading" [ngClass]="{'disappear': lostService.pagePosition === 0 || lostService.inReviewPage}">Atras <i class="material-icons left">chevron_left</i></button>
      <!-- <button class="waves-effect btn info" (click)="lostService.setAnwer()"  [disabled]="!lostService.getGeneralAnswer()">responder <i class="material-icons right">send</i></button> -->
      <button class="waves-effect btn action" *ngIf="!lostService.inReviewPage || showReview()" (click)="lostService.next()"  [disabled]="lostService.defualtSequence[lostService.pagePosition]!=='complete' && !lostService.pageAnswers[lostService.pagePosition] && lostService.defualtSequence[lostService.pagePosition]!=='extras' || lostService.searchService.timer || lostService.searchService.loading || (lostService.defualtSequence[lostService.pagePosition]==='complete' && (lostService.userService.createAccount || !lostService.disableCompleteBtn))">Siguiente <i class="material-icons right">chevron_right</i></button>
      <button class="waves-effect btn action" *ngIf="lostService.inReviewPage && !showReview()" (click)="lostService.goToReview()" [disabled]="!lostService.pageAnswers[lostService.pagePosition]  && lostService.defualtSequence[lostService.pagePosition]!=='extras' || lostService.searchService.timer || lostService.searchService.loading">A revision <i class="material-icons right">chevron_right</i></button>
    </div>
  </div>
  <div class="promise-reponses" [ngClass]="{'blur-filter': dogCardService.open}" *ngIf="lostService.defualtSequence[lostService.pagePosition] !== 'complete'">
    <div class="loading-block" [hidden]="!lostService.searchService.loading">
      <img class="gif" src="https://www.lostdog.mx/assets/img/loading-grey.gif" alt="Cargando..">
    </div>
    <div class="no-results-block" *ngIf="!(lostService.searchService.results && lostService.searchService.results.length) && !lostService.searchService.loading && (lostService.pagePosition !== lostService.sequence.length - 1)">
      <h4><b>No</b> hay resultados!</h4>
    </div>  
  </div>
  <div class="row results" *ngIf="(lostService.pagePosition !== lostService.sequence.length - 1 && lostService.defualtSequence[lostService.pagePosition] !== 'complete') && lostService.searchService.results && !lostService.searchService.loading && lostService.searchService.results.length ">
    <h3 class="row text-centered" [ngClass]="{'blur-filter': dogCardService.open}">Coincidencias...</h3>
    <div *ngIf="dogCardService.open" class="block-back col l12"></div>
    <dog-card *ngFor="let card of lostService.searchService.results;let i= index" (click)="userAt=i;" [cardIndex]="i" [userAt]="userAt"  [data]="card" [maxCards]="lostService.searchService.results.length"></dog-card>
  </div>
  <section title="pagination"  class="row pagination"  *ngIf="lostService.searchService.totalPages && lostService.searchService.totalPages!==1" [ngClass]="{'blur-filter': dogCardService.open}">
    <div class="col l12 m12 s12 centered">
      <div>
          <h5 class="number" *ngFor="let val of window.Array(lostService.searchService.totalPages);let i= index" (click)="lostService.searchService.changePageTo(i)">
            <a [ngClass]="{'pag-at':lostService.searchService.atPage===i}">{{i+1}}</a>|
          </h5>
      </div>
    </div>
  </section>
  <div class="row intro" [hidden]="!(lostService.displayIntro && !lostService.inReviewPage)">
    <div class="lost col l12 s12 m12" [hidden]="!(lostService.parentPage==='lost')">
      <h3>No te preocupes, ¡lo vamos a encontrar!<i class="medium material-icons">sentiment_very_satisfied</i></h3>
      <h5>solo responde las siguientes {{lostService.displayedSequence.length}} preguntas</h5>
      <h6>Recuerda que este servicio de exposición masiva tiene un costo base de ${{lostService.baseCost}} MXN</h6>
    </div>
    <div class="found col l12 s12 m12" [hidden]="!(lostService.parentPage==='found')">
      <h3>Gracias por ayudar a rescatar una mascota en peligro<i class="medium material-icons">sentiment_very_satisfied</i></h3>
      <h5>sólo responde las siguientes {{lostService.displayedSequence.length}} preguntas</h5>
      <h6>Si ofrecen una recompensa por la mascota, necesitarás una cuenta de banco y su clabe interbancaria.</h6>
    </div>
    <button class="waves-effect btn info" (click)="start()">comenzar!<i class="medium material-icons left">thumb_up</i></button>
  </div>
  <div class="row payment" *ngIf="lostService.openPayment">
    <form-payment [fromLostPage]="true" [loadingImg]="lostService.loadingSave" [adsTotal]="lostService.fbService.total"></form-payment>
  </div> 
</section>