<div class="component row centered" [ngClass]="{'blur-filter': bluring}">

  <div class="col l3 s10 m10 push-s1 push-m1">
    <i  class="large material-icons">search</i>
    <p>Perdí mi perro y lo quiero encontrar</p>
    <div class="action">
      <h3>Reportar <br> perdido</h3>
    </div>
  </div>

  <div class="col l3 s10 m10 push-s1 push-m1">
    <i  class="large material-icons">style</i>
    <p>Ver la lista de los perros perdidos y econtrados por zona, fecha, genero, raza, etc.</p>
    <div class="action extra-height">
      <h3>Ver catálogo</h3>
    </div>    
  </div>

<div class="col l3 s10 m10 push-s1 push-m1">
    <i  class="large material-icons">pets</i>
    <p>Econtré un perro y lo quiero reportar</p>
    <div class="action">
      <h3>Reportar <br> Econtrado</h3>
    </div>    
  </div>
</div>