<div class="page main-profile create-account"> 
<div class="main-title row"  [ngClass]="{'blur-filter': dogCardService.open}">
  <h4> Mi cuenta</h4>
</div>
  <div class="row info" [ngClass]="{'blur-filter': dogCardService.open}">
    <div class="col l6 s10 m10 offset-l3 push-s1 push-m1" (click)="router.navigate(['/profile/edit']);">
      <div class="row file-field">
        <div class="profile-pic blur-hover" *ngIf="userService.isAvatarSet">
          <img [src]="userService.user.avatar" alt="image de perfil" class="circle width-center" id="prof-pic">
        </div>
      </div> 
      <div class="stars text-centered blur-hover">
        <h6><b>{{userService.user.email}}</b></h6>
      </div>
      <div class="row names text-centered blur-hover">
        <h4>{{userService.user.name}}</h4>
        <h4>{{userService.user.lastName}}</h4>
        <h4>{{userService.user.lastName2}}</h4>
      </div>
      <div class="edit-text text-centered">
        <h3>Editar</h3>
      </div>
      <div class="edit-text-mobile centered">
        <h3>Editar</h3>
      </div>
    </div>
  </div>
  <actions-block class="options" [bluring]="dogCardService.open"></actions-block>
  <div class="sub-title row text-centered"  [ngClass]="{'blur-filter': dogCardService.open}" *ngIf="dogCardService.lostDogs && dogCardService.lostDogs.length">
    <h3  class="col l10 s12 offset-l1"> <i class="small material-icons circle-white">search</i>Mis perdidos</h3>
  </div>
  <div class="row info my-losts" *ngIf="dogCardService.lostDogs && dogCardService.lostDogs.length">
    <div class="col l10 s12 offset-l1" [ngClass]="{'no-border': dogCardService.open}">
      <side-block-dog [dogData]="dogCardService.lostDogs" [totalResults]="searchService.totalResults"></side-block-dog>
    </div>
  </div>
  <div class="sub-title row text-centered"  [ngClass]="{'blur-filter': dogCardService.open}" *ngIf="dogCardService.foundDogs && dogCardService.foundDogs.length">
    <h3  class="col l10 s12 offset-l1"> <i class="small material-icons circle-white">pets</i>Mis Encontrados</h3>
  </div>
  <div class="row info my-founds" *ngIf="dogCardService.foundDogs && dogCardService.foundDogs.length">
    <div class="col l10 s12 offset-l1" [ngClass]="{'no-border': dogCardService.open}">
      <side-block-dog [dogData]="dogCardService.foundDogs"  [totalResults]="searchService.totalResults" [prevTotal]="dogCardService.lostDogs.length"></side-block-dog>
    </div>
  </div>
</div>