<main id="home-dogs" [ngClass]="{'blur-new-user': newUser}" >
  <div class="row logo-huge" [ngStyle]="{'height': getWindowHeight()}">
    <img src="https://www.lostdog.mx/assets/img/logo-huge.png" alt="Lost Dog Logo" [ngStyle]="{'opacity': scrollnormalize}" *ngIf="!newUser" class="blur-appear">
    <div class="scroll-botttom centered" [ngStyle]="{'opacity': scrollnormalize - 0.2}" *ngIf="scrolldownDisplay"><i class="medium material-icons">play_arrow</i></div>
  </div>
  <div  class="row home-description" #Description>
    <div class="title col l12 m12 s12"><h4>¡ Bienvenido a la comunidad Pet Lover más grande de todo Latino América !</h4></div>
    <article class="col l5 m12 s12">
      <p>Lost Dog es una plataforma web donde puedes publicar mascotas perdidas y encontradas de manera sencilla y con un alto nivel de exposición, aumentando tus probabilidades de encontrar a tu mascota o al dueño.</p>
      <p>Nosotros ponemos anuncios digitales en las zonas donde tu mascota se perdió a través de redes sociales, ¡es muy probable que alguien que vio a tu mascota le aparezca el anuncio!</p>
      <p>También fomentamos la adopción y cuidado de los animales proporcionando herramientas para lograrlo.</p>
    </article>
    <figure class="col l6 m12 s12">
      <img src="https://www.lostdog.mx/assets/img/dogcard-home-2.png" alt="tarjeta de un perro perdido">
      <img src="https://www.lostdog.mx/assets/img/dogcard-home-1.png" alt="tarjeta de un perro perdido">
      <img src="https://www.lostdog.mx/assets/img/dogcard-home-0.png" alt="tarjeta de un perro perdido">
    </figure>
  </div>
  <article class="row">
    <h3 class="col l12 m12 s12 home-second-title">¿Qué puedo hacer en Lost Dog?</h3>
  </article>
  <actions-block class="options"></actions-block>
  <article class="row">
    <h3 class="col l12 m12 s12 home-second-title" >¿Qué precio tiene?</h3>
  </article>
  <div class="row home-description home-payment">
    <article class="col l4 m12 s12">
      <h4>¡Es Gratis!</h4>
      <div class="circular">
        <img  class="motivation-icon" src="https://www.lostdog.mx/assets/img/moneyMotivation.png" alt="motiva con dinero">
      </div>
      <p>Publicar una mascota encontrada es totalmente GRATIS! Sin embargo para publicar una mascota perdida la aportación es de <b> ${{basePrice}}.00 MXN</b>. Para más información sobre costos y beneficios da click <b><a style="color: white; text-decoration: underline;" [routerLink]="['/info', 'pricing']">aquí</a></b>.</p>
    </article>
    <article class="col l4 m12 s12">
      <h4>¡Gana Dinero!</h4>
      <div class="circular">
        <img class="earn-money" src="https://www.lostdog.mx/assets/img/earnMoney.png" alt="gana dinero">
      </div>
      <p>Si has encontrado una mascota es muy probable que el dueño quiera recompensar tu tiempo y cuidado a su mascota. En nuestra plataforma gestionamos las recompensas de manera segura. También recuerda que nos encargamos de proteger tus datos y la confidencialidad de los mismos.</p>
    </article>
    <article class="col l4 m12 s12">
      <h4>¡Motiva la búsqueda!</h4>
      <div class="circular">
        <img  class="motivation-icon" src="https://www.lostdog.mx/assets/img/handsTeamWork.png" alt="motiva con dinero">
      </div>  
      <p>Está comprobado que existe un <b> 80% </b> de mayor probabilidad de que tu mascota regrese a casa si ofreces una recompensa económica por ella. Recuerda que la recompensa <b>NUNCA</b> es obligatoria.</p>
    </article>
  </div> 
  <article class="row">
    <h3 class="col l12 m12 s12 home-second-title" >¡Crea tu anuncio digital!</h3>
  </article>

  <div class="row actions-block">
    <div class="component row">
      <div class="extra-margin-bottom extra-margin-top extra-margin-mobile text-centered padding-sides">
        <h5>Con nuestros anuncios inteligentes, <b>todo</b> mundo vera tu mascota perdida, así que <b>despreocupate</b> de publicar en cada grupo, <b>nosotros nos encargamos</b> de su difusión.</h5>
      </div>
      <div class="col l6 s12 m12">
        <preview-fb-ads class="desktop-home" [previewValues]="previewValues" [img]="'https://www.lostdog.mx/assets/img/dogs/141.jpg'"></preview-fb-ads>
      </div>      
      <div class="col l6 s12 s12">
        <div class="row">
          <h4 class="mobile-centered extra-margin-mobile">
            Visualizalo!
          </h4>
          <div class="inxput-field col l8 push-m1 push-s1 m10 s10">
            <select name="preview" id="preview">
              <option *ngFor="let view of adOpts.views" [value]="view.value">{{view.label}}</option>
            </select>
          </div>
        </div>
          <div class="row">
            <preview-fb-ads class="mobile-home" [previewValues]="previewValues" [img]="'https://www.lostdog.mx/assets/img/dogs/141.jpg'"></preview-fb-ads>
          </div>        
        <div class="row extra-margin-top mobile-centered extra-margin-mobile">
          <h4 class="">Incrementa el alcance</h4>
        </div>
        <div class="row home-config estim-reach">
          <div class="circle big centered circle-midle" style="color: black;">
            <div class="content text-centered">
              <p style="font-weight: bolder;">Alcance: </p>
              <h4>{{reach}}<span class="ast">*</span></h4>
              <p>Personas / {{duration}} días</p>
            </div>
          </div>
        </div>
        <div class="row home-config">
          <div class="row extra-margin-mobile mobile-centered">
            <h5>
              <span class="title">Duración: </span>
              <span class="unit days"><b>{{duration}}</b> días</span>
            </h5>
          </div>
          <div class="col l8 push-m1 push-s1 m10 s10 range-width">
            <div class="range-field">
              <div class="limit min centered">
                  <span>1</span>
              </div>
               <input type="range" id="range-duration" min="1" max="15" [(ngModel)]="duration" (change)="changeEstim()"/>
              <div class="limit max centered">
                  <span>15</span>
              </div>
            </div>
          </div>
        </div>
        <p class="subs row extra-margin-mobile">* Una estimación real se muestra al final de reporta tu mascota perdida.</p>
      </div>
    </div>
  </div>
  <article class="row" style="margin:0">
    <h3 class="col l12 m12 s12 home-second-title" ></h3>
  </article>
</main>

<article id="welcome-user" *ngIf="newUser">
  <h1 class="typing-animation">Bienvenido {{userService.user.name}}</h1>
</article>
  
