@import '../../common/styles/variables.scss';
div.page.dogs {
  .extras {
    padding: 10px 60px;
  }
  .bottom-top {
    margin: 55px 0;
  }
  .bottom-top-pad {
    padding: 55px 0;
  }
  .row.reivew {
   .extra-height {
      height: 200px;
    }
  }
  div.bottom-no-round {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;    
  }
  .comment-block {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: grey;
    border: 4px solid white;
    padding: 10px;
    max-height: 150px;
    overflow: scroll;    
  }
  .accessories .title {
    color: $lightGrey;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    margin-bottom: 5px;
  }
  .accessory {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    // adding an extra child because of the ng-for that adds an extra commented block on dom
    &:nth-child(2) {
      border-bottom-left-radius: 15px;
    }
    &:nth-child(3), &:nth-child(4) {
      margin: 0 5px;
    }
    &:nth-child(5) {
      border-bottom-right-radius: 15px;
    }    
    width: 23%;
    height: 75px;
    display: inline-block;
    margin-bottom: 30px;
    @media screen and (max-device-width: $screen-mobile-max) {     
    }
  }  
  div.col map .row {
    background-color: $pink;
  }
  .main-content {
    &:first-child {
      margin-top:25px;
    }
  }
  .round-white {
    margin-top: 20px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .row .col.push-l4 {
    left: 30%;
  }
  .text-centered {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .color-money {
    color: $greenMat;
  }
  .color-grey {
    color: $lightGrey;  
  }
  background-color: $lightGrey;
  .main-image {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .no-space {
    padding: 0;
    margin: 0;
  }
  .no-margin {
    margin: 0;
  }
  .dog-properties {
    position: absolute;
    right: -111px;
    .property {
      width: 120px;
      height: 121px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: white;
      cursor: pointer;
      &:first-child {
        border-top-right-radius: 15px;
      }
      &:nth-child(2), &:nth-child(3) {
        margin: 5px 0;
      }
      &:nth-child(4) {
        border-bottom-right-radius: 15px;
      }           
    }
  }  
  .dog-color dog-figure .full-dog {
    transform: scale(0.30);
    bottom: 96px;
    right: 41px;    
  }
  .dog-date {
    padding-top: 25%;
  }
  .bold {
    font-weight: bold;
  }
}
.ctas-container {
  position: fixed;
  top: 45%;
  right: 0;
  width: 17%;
  padding: 20px 15px 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #a4d9ff;
  .title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }
  .btn {
    width: 205px;
    margin: 10px;
  }
}

.border-white {
  border: 4px solid white;
}



//fireworks.

span.svg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 999999;  
  top: 45%;
  transform: scale(2);
  svg {
    width: 200px;
    height: 200px;
    max-width: 200px;
    margin: auto;
  }
  .title {
    position: absolute;
    top: calc(50% - 15px);
    color: #fff;
    margin: 0;
    line-height: 1;    
  }
}
@keyframes fireworkone {
  0%   { opacity: 0;}
  25%  { opacity: .15;}
  50%  { opacity: .3;}
  75%  { opacity: .15;}
  100% { opacity: 0;} 
}
@keyframes fireworktwo {
  0%   { opacity: 0;}
  25%  { opacity: .45;}
  50%  { opacity: .8;}
  75%  { opacity: .45;}
  100% { opacity: 0;} 
}
@keyframes fireworthree {
  0%   { opacity: 0;}
  25%  { opacity: .55;}
  50%  { opacity: 1;}
  75%  { opacity: .55;}
  100% { opacity: 0;} 
}

.firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.firework-icon .cls-3 {
  animation-name: fireworthree;
  animation-delay: .11s; }

.firework-icon .cls-2 {
  animation-name: fireworktwo;
  animation-delay: .41s; }

.firework-icon .cls-1 {
  animation-name: fireworkone;
  animation-delay: .71s;}

@keyframes elastic-pulse {
  0%   { transform: scale(0.2);}
  100% { transform: scale(1);} 
}

.img-firework {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: elastic-pulse;
  animation-delay: 0s;
}
