@import '../../styles/variables.scss';
//@import '../../styles/inputs.scss';
$headerHeight: 100px;
$headerHeightMobile: 150px;
$headerFullScreen: 100vh;

header {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: $lightBlue;
  display: flex;
  height: $headerFullScreen;
  flex-direction: row;
  position: fixed;
  border-bottom: 6px solid white;
  z-index: 1000;
  &.bottom-top-anim {
    animation: initHeader 1s forwards 2s;
  }
  &.size-no-anim {
    height: $headerHeight;
    @media screen and (max-device-width : $screen-desktop-min) {
      height: $headerHeightMobile;
    }
  }
  .hide-anim {
    margin: auto;
    animation: scaleDown 1s forwards 1.5s, hideImg 1s forwards 2.4s;
    position: relative;
  }
  .hidden {
    display: none !important;
  }
  .avatar {
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    font-size: 5px;
    margin-top: 20px;
    position: absolute;
    top: 0;
  }
  .profile-name {
    padding-left: 60px;
    display: -webkit-inline-box;
    margin: 0;
  }

  &#nav-header {
    margin:0;
    padding:0;
  }
  a {
    font-family: $primaryFont, sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0 10px;
    #home-logo {
      width:200px;
    }
    #profile-arrow {
      width: 15px;
    }
    .profile-arrow-UpDown {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg); 
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);       
    }
  }
  .menu-options {
    margin: auto;
    display: inline-block;
    opacity:  0;
    animation: initOpacity 1s forwards;
    .home-mobile {
      display: none;
    }
  }
}

#slide-out {
  a:hover {
    background-color: rgba(0,0,0,0.05);
  }
  .user-background {
    background: $pink;
    padding: 50px;
    .profile-link {
      font-size: 0;
      padding: 0;
    }
  }
  .no-user-background {
    height: 450px;
    img {
      width: 325px;
    }
  }
  .profile-mobile { 
    border: 5px solid white;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 25px;
  }
}

#popover-login {
  position: fixed;
  top: 80px;
  right: 80px;
  width: 250px;
  background: $lightBlue;
  border: 6px solid white;
  border-radius: 10px;
  z-index: 1010;

  a {
    font-family: $primaryFont, sans-serif;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
  }
  ul {
    &.logged-opts {
      li {
        padding: 10px 0 10px 20px;
        width:100%;
      }
      a {
        font-size: 20px;
      }
    }
  }

  form {
    padding: 10px 25px;
    button {
      margin-top: 15px;
    }
  }
  input:-webkit-autofill {
    background: transparent;
  }
  .account-link {
    margin-top: 20px;
    text-align: center;
    a {
      i.right {
        margin-left: 35px;
      }
    }
  }
    .account-link:hover {
      border-bottom: 1px solid white;
      border-radius: 5px;
    }
}

.btn {
z-index: 1;
&.action {
  background: $buttonAction;

}
}

.btn:hover {
  &.action{
    background: $buttonActionHover;
  }
}
@media screen 
and (min-device-width : $screen-tablet-min) 
and (max-device-width : $screen-desktop-min) {
  #nav-header #slide-out a {
    font-size: 1.8rem;
  }
 #nav-header #slide-out .user-profile .user-background a {
  font-size: 2rem;
 }
}  
@media screen and (max-device-width : $screen-desktop-min) {
  header {
    &.bottom-top-anim {
      animation: initHeaderMobile 1s forwards 2s;
    }
    #slide-out {
      .user-profile {
        .user-background {
          a {
            color: white;
            display: block;
          }
        }
      }
      .subheader {
        color: rgba(0, 0, 0, 0.54);
      }
      a {
        font-size: 2.8rem;
        color: black;
        i {
           font-size: 4.8rem;
          padding-right: 70px;
          color: black;
          padding-top: 20px;
        }
      }
      li > a {
          height: 100px;
          line-height: 100px;
      }
    }
    .menu-options  {
      .profile {
        display: none;
      }
      .actions { 
        display: none;
      }
      .home-mobile {
        display: inline-block;
        img {
          width: 80px;
        }
      }    
    }
  }
}
@keyframes initOpacity { 
  to {
   opacity: 1; 
  }
}

@keyframes initHeader { 
  to {
    height: $headerHeight;
  }
}
@keyframes initHeaderMobile { 
  to {
    height: $headerHeightMobile;
  }
}

@keyframes scaleDown { 
  from {
    transform: none;
  }
  to {
    transform: scale(0.3) translateY(-90px);
  }
}

@keyframes scaleDownMobile { 
  from {
    transform: none;
  }
  to {
    transform: scale(0.3) translateY(-90px);
  }
}

@keyframes hideImg { 
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
