@import '../../styles/variables.scss';
//@import '../../styles/inputs.scss';
header {
  position: fixed;
  background: $lightBlue;
  display: flex;
  flex-direction: row;
  height: 100px;  
  border-bottom: 6px solid white;
  z-index: 1000;
  .avatar {
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    font-size: 5px;
    margin-top: 20px;
    position: absolute;
    top: 0;
  }
  .profile-name {
    padding-left: 60px;
    display: -webkit-inline-box;
    margin: 0;
  }

  &#nav-header {
    margin:0;
    padding:0;
  }
  a {
    font-family: $primaryFont, sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0 10px;
    #home-logo {
      width:200px;
    }
    #profile-arrow {
      width: 15px;
    }
    .profile-arrow-UpDown {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg); 
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);       
    }
  }
  .menu-options {
      margin: auto;
    display: inline-block;
    .home-mobile {
      display: none;
    }
  }
}

#slide-out {
  a:hover {
    background-color: rgba(0,0,0,0.05);
  }
  .user-background {
    background: $pink;
    padding: 50px;
    .profile-link {
      font-size: 0;
      padding: 0;
    }
  }
  .no-user-background {
    height: 450px;
    img {
      width: 325px;
    }
  }
  .profile-mobile { 
    border: 5px solid white;
    width: 250px;
    display: block;
    margin-bottom: 25px;
  }
}

#popover-login {
  position: fixed;
  top: 80px;
  right: 80px;
  width: 250px;
  background: $lightBlue;
  border: 6px solid white;
  border-radius: 10px;
  z-index: 1010;

  a {
    font-family: $primaryFont, sans-serif;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
  }
  ul {
    &.logged-opts {
      li {
        padding: 10px 0 10px 20px;
        width:100%;
      }
      a {
        font-size: 20px;
      }
    }
  }

  form {
    padding: 10px 25px;
    button {
      margin-top: 15px;
    }
  }
  input:-webkit-autofill {
    background: transparent;
  }
  .account-link {
    margin-top: 20px;
    text-align: center;
    a {
      i.right {
        margin-left: 35px;
      }
    }
  }
    .account-link:hover {
      border-bottom: 1px solid white;
      border-radius: 5px;
    }
}

.btn {
z-index: 1;
&.action {
  background: $buttonAction;

}
}

.btn:hover {
  &.action{
    background: $buttonActionHover;
  }
}

@media screen and (max-device-width: $screen-mobile-max) {
  header {
    #slide-out {
      a {
        font-size: 2.8rem;
        color: black;
        i {
           font-size: 4.8rem;
          padding-right: 70px;
          color: black;
          padding-top: 20px;
        }
      }
      li > a {
          height: 100px;
          line-height: 100px;
      }
    }
    height: 120px;
    .menu-options  {
      .profile {
        display: none;
      }
      .actions { 
        display: none;
      }
      .home-mobile {
        display: inline-block;
        img {
          width: 80px;
        }
      }    
    }
  }
}