<header class="col l12 m12" id="nav-header">
  <div class="menu-options col l5 m1 s3">
    <a routerLink="board" class="actions">catalogo</a>
    <a routerLink="lostfound" class="actions">perdi</a>
    <a routerLink="lostfound" class="actions">encontre</a>  
    <a routerLink="" title="" class="home-mobile" data-activates="slide-out"><img src="static/side-menu.png" alt="side menu"></a>
  </div>
  <div class="menu-options col l4 m2"> 
      <a routerLink="home"  class="logo">
        <img id="home-logo" src="static/logo-med.png" alt="lost dog logo">
      </a>
  </div>
  <div class="menu-options col l3 m2">
     <div class="profile">
      <a routerLink="profile-link">Chris Zepeda
      <img  id="profile-arrow" src="static/dropdown.png" alt="dropdown arrow">
      </a>
     </div> 
  </div>
  <ul id="slide-out" class="side-nav">
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
  </ul>
</header>