<header class="col l12 m12" id="nav-header"  [ngClass]="{'blur-new-user': newUser, 'bottom-top-anim': !newUser || !initHeader, 'size-no-anim': newUser || initHeader}">
  <img class="hide-anim" src="static/loading-step-2.gif" alt="loading..." *ngIf="(!newUser && !initHeader) && !displayNavOpts">
  <div  class="menu-options col l5 m1 s3"  [ngClass]="{'hidden': !displayNavOpts}">
    <a routerLink="board" class="actions" (click)="lostService.resetService()">Catalogo</a>
    <a routerLink="lost" class="actions" (click)="lostService.resetService()" *ngIf="userService.isAuth">Perdi</a>
    <a routerLink="found" class="actions" (click)="lostService.resetService()" *ngIf="userService.isAuth">Encontre</a>  
    <a href="javascript:void(0)" class="home-mobile" data-activates="slide-out"><img src="static/side-menu.png" alt="side menu"></a>
  </div>
  <div class="menu-options col l4 m2" *ngIf="displayNavOpts"> 
      <a routerLink="home"  class="logo">
        <img id="home-logo" src="static/logo-med.png" alt="lost dog logo" [ngStyle]="{'opacity': router.url==='/home' ? globalService.scrollOpacity : 1}">
      </a> 
    </div> 
    <div class="menu-options col l3 m2" [ngClass]="{'hidden': !displayNavOpts}">
      <div class="profile">
        <a #LoginDom href="javascript:void(0)" (click)="toggleLoginFrom($event)"  *ngIf="!userService.isAuth">
          Iniciar sesión
          <img  id="profile-arrow" src="static/dropdown.png" alt="dropdown arrow" [ngClass]="{'profile-arrow-UpDown': showLoginFrom }">
      </a>
      <a #UserDom href="javascript:void(0)"  *ngIf="userService.isAuth" (click)="toggleLoginFrom($event)">
        <img *ngIf="userService.isAvatarSet" src="{{userService.user.avatar}}" class="avatar" alt="profile picture">
        <p class="profile-name">{{userService.user.name}}</p>
        <img  id="profile-arrow" src="static/dropdown.png" alt="dropdown arrow" [ngClass]="{'profile-arrow-UpDown': showLoginFrom }">
      </a>
      <!-- <a href="javascript:void(0)" *ngIf="userService.isAuth">{{userService.user.name}}</a> -->
     </div> 
  </div>
  <ul id="slide-out" class="side-nav">
      <li><div class="user-profile">
        <div class="user-background" *ngIf="userService.isAuth">
          <a routerLink="/profile/edit" class="profile-link"><img *ngIf="userService.isAvatarSet" src="{{userService.user.avatar}}" alt="profile picture" class="circle profile-mobile"></a>
          <a routerLink="/profile/edit" class="row">{{userService.user.name}}</a>
          <a routerLink="/profile/edit">{{userService.user.email}}</a>
        </div>
        <div class="no-user-background centered" *ngIf="!userService.isAuth">
          <a routerLink="/home">
            <img src="static/logo-med-invert.png">
          </a>
        </div>
      </div></li>
      <li><div class="divider"></div></li>
      <li><a routerLink="/profile" class="waves-effect" *ngIf="userService.isAuth"> <i class="material-icons left">perm_identity</i>Mi cuenta</a></li>
      <li><a routerLink="/login" class="waves-effect" *ngIf="!userService.isAuth"><i class="material-icons left">vpn_key</i>Iniciar sesión</a></li>
      <li><div class="divider" *ngIf="!userService.isAuth"></div></li>
      <li><a routerLink="/account" class="waves-effect" *ngIf="!userService.isAuth"><i class="material-icons left">person_pin</i>Crear cuenta</a></li>
      <li><a href="javascript:void(0)" class="waves-effect" *ngIf="userService.isAuth" (click)="userService.logout()"><i class="material-icons left">reply</i>Cerrar sesión</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader" *ngIf="userService.isAuth">mas acciones</a></li>
      <li><a routerLink="lost" class="waves-effect" *ngIf="userService.isAuth"><i class="material-icons left">security</i>Perdi un perro</a></li>
      <li><a routerLink="found" class="waves-effect" *ngIf="userService.isAuth"><i class="material-icons left">search</i>Encontre un perro</a></li>
      <li><a routerLink="board" class="waves-effect"><i class="material-icons left">style</i>Catalogo</a></li>
      <li><div class="divider"></div></li>
   </ul>
</header>

<article id="popover-login" *ngIf="showLoginFrom" class="hoverable">
  <form class="row" title="form-login" #loginForm="ngForm" (ngSubmit)="userService.login(userService.tempUserName, password)"   *ngIf="!userService.isAuth" novalidate>
      <div class="input-field main-white col l12 s12" [ngClass]="{'wrong-red': userService.errors.userReq || userService.errors.invalidUser}">
        <input type="text" name="user name" id="user-name" [(ngModel)]="userService.tempUserName" (keyup)="userService.errors.userReq = false;userService.errors.invalidUser = false;">
        <label for="user-name" [ngClass]="{'active': userService.tempUserName}">nombre usuario <b *ngIf="userService.errors.invalidUser"> incorrecto ó</b></label>
      </div>
      <div class="input-field main-white col l12 s12" [ngClass]="{'wrong-red': userService.errors.passwordReq || userService.errors.invalidUser}">
          <input type="password" name="password" id="user-password"  [(ngModel)]="password" (keyup)="userService.errors.passwordReq = false;userService.errors.invalidUser = false;">
          <label for="user-password">contraseña <b *ngIf="userService.errors.invalidUser"> incorrecta</b></label>
      </div>
      <button class="btn waves-effect col l12 action" type="submit" [disabled]="userService.loading">
        <div *ngIf="!userService.loading">Iniciar sesión<i class="material-icons right">send</i></div>
        <div *ngIf="userService.loading">Cargando ...</div>
      </button>
      <div class="col l12 account-link">
        <a routerLink="account" title="" class="waves-effect"> Crea tu cuenta
         <i class="material-icons right">person_pin</i>
        </a>        
      </div>
      <div class="col l12 account-link" *ngIf="userService.timesTrying >= 1" id="forgot-pass">
        <a [routerLink]="['/login']" [queryParams]="{fG:'true'}" title="" class="waves-effect">olvide mi contraseña
         <i class="material-icons right">lock</i>
        </a>        
      </div>      
    </form>
    <div  *ngIf="userService.isAuth">
      <ul class="logged-opts">
        <li class="waves-effect">
          <a routerLink="/profile" ><i class="material-icons left">perm_identity</i>Mi cuenta</a>
        </li>
        <li class="waves-effect">
          <a routerLink=""  (click)="userService.logout()"><i class="material-icons left">reply</i>Cerrar sesión</a>
        </li>
      </ul>
    </div>
</article>