@import '../../../common/styles/variables.scss';
facebook-ads {
  #ad-creative {
    .input-field input.select-dropdown {
      color: black;
      text-align: center;
    }
  }
  .file-field {
    .btn {
      input[type="file"] {
        height: 45px;
      }
    }
  }
  .collapsible.popout {
     ul.dropdown-content.select-dropdown li:first-of-type > span {
        padding: 14px 16px;
     }
     .input-field input.select-dropdown {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
     }
  }
  .component {
  }
  .no-space {
    padding: 0 !important;
    margin: 0 !important;
  }
  .margin-left-small {
    maring-left: 5px !important;
  }

  .text-cented {
    text-align: center;
  }
  .full-width {
    width: 100%;
  }
  .ad-brand-logo {
    width: 60px;
    height: 60px;
  }
  .raidus-50 {
    border-radius: 50%;
  }  
}

