<div class="component">
  <ul class="collapsible popout">
    <li class="row collapsible-header">
      <div class="col l4 s4 m4">
        <img  class="to-left ad-brand-logo" src="https://www.lostdog.mx/assets/img/facebook.png">
      </div>
      <div class="col l8 s8 m8">
          <span class="title-main">Anuncio inteligente: </span>
          <span class="unit money"> $ 30.00 MXN</span>
      </div>    
      <div class="col l4 s4 m4">
       <input type="checkbox" id="test6" checked="checked"/>
      </div>
    </li>
    <li class="row collapsible-body">
      <div class=" col l8 s8 m8 push-l4 push-4 push-m4">
        <div class="row">
          <span class="title">Presupuesto: </span>
          <span class="unit money">$30.00 MXN</span>
        </div>
        <div class="row">
          <span>min</span>
          <div id="slider-money"></div>
          <span>max</span>
        </div>
      </div>
      <div class="col l4 s4 m4">
        <div class="circle">
          <h3>3,000</h3>
          <p>Personas/Dia</p>
        </div>
      </div>
    </li>
    <li class="row collapsible-body">
      <div class=" col l8 s8 m8 push-l4 push-4 push-m4">
        <div class="row">
          <span class="title">Duracion: </span>
          <span class="unit money"> 10 dias</span>
        </div>
        <div class="row">
          <span>min</span>
          <div id="slider-dys"></div>
          <span>max</span>
        </div>
      </div>
    </li>
    <li class="row collapsible-body">
      <ul class="collapsible popout col l8 s8 m8 push-l4 push-4 push-m4">
        <li class="collapsible-header row">
          <span>Pre vista: </span>
          <span>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
              </ul>
          </span>
        </li>
        <li class="collapsible-body row">
          <span>Titulo: </span>
          <span>
              <ul id='dropdown2' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
              </ul>
          </span>
        </li>
        <li class="collapsible-body row">
          <span>Descripcion: </span>
          <span>
              <ul id='dropdown3' class='dropdown-content'>
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
              </ul>
          </span>            
        </li>
        <li class="collapsible-body row">
          <span>Imagen: </span>
          <span>
            <div class="file-field input-field">
              <div class="btn">
                <span>Cambiar</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>              
          </span>
        </li>
        <li class="collapsible-body row">
          <h1><. Preview here. ></h1> 
        </li>
      </ul>
    </li>
  </ul>
</div>