@import '../../../common/styles/variables.scss';
facebook-ads {
  #ad-creative {
    .input-field input.select-dropdown {
      color: black;
      text-align: center;
    }
  }
  .file-field {
    .btn {
      input[type="file"] {
        height: 45px;
      }
    }
  }
  .collapsible.popout {
     ul.dropdown-content.select-dropdown li:first-of-type > span {
        padding: 14px 16px;
     }
     .input-field input.select-dropdown {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
     }
  }
  .component {
  }
  .no-space {
    padding: 0;
    margin: 0;
  }
  .margin-left-small {
    maring-left: 5px !important;
  }

  .text-cented {
    text-align: center;
  }
  .full-width {
    width: 100%;
  }
  .ad-brand-logo {
    width: 60px;
    height: 60px;
  }
  .range-width {
    width: 85%;
  }
  .circle {
    width: 150px;
    height: 150px;
    background: white;
    h4 {
      position: relative;
      .ast {
        font-size: 60%;
        position: absolute;
        top: -5px;
        right: -10px;        
      }
    }
  }
  .subs {
    color: white;
    text-align: center;
  }
  .raidus-50 {
    border-radius: 50%;
  }
}
.collapsible.popout {
  &> li {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    &.active {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
    }
    .to-left {
      float: left;
    }
    .to-right {
      float: right;
    }
    p.heavy {
      font-weight: 700;
    }
    .collapsible-header {
      border-radius: 30px;
      .main-title {
        text-align: left;
        width: 100%;
        margin: 0;
        vertical-align: text-top;        
         span {
          line-height: 3rem;
        }
      }
      .input-field.main-check {
        label {
          transform: scale(2.5);
          pointer-events: none;
        }
      }          
    }
    .collapsible-body {
      .img-bg-big {
        width: 466px;
        height: 248.91px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .unit {
        font-weight: bolder;
      &.money {
        color: $greenMat;
      }
      &.days {
        color: white;
      }
    }    
  }
}
