@import '../../../common/styles/variables.scss';
  .no-space {
    padding: 0;
    margin: 0;
  }
  .to-left {
  }
  .full-width {
    width: 100%;
  }
  .ad-brand-logo {
    width: 60px;
    height: 60px;
  }