@import '../../common/styles/variables.scss';
.create-account {
 .centered {
  display: flex;
   * {
    margin: auto;  
  }
 }
   .privacy-policy {
      font-size: 0.7rem;
      padding-bottom: 50px;
      padding-top: 20px;    
   }
  .main-title {
    margin-top: 99px;
    margin-bottom: 0;
    padding: 20px 0 20px 0;
    background: $pink;
    text-align: center;
    color: white;
    border-bottom: 6px solid white;
  }
  .main-create-account {
    margin-bottom: 0;
    background: $lightGrey;
  }
  .profile-pic {
    display: flex;
    position: relative;
    img.wrong-red {
            border: 3px solid $redAccent;
    }
    .width-center {
      margin: auto;
      width: 100px;
      height: 100px;
    }
    img {
      border: 3px solid white;
    }
    span {
      cursor: pointer;
      position: absolute;
      left: 42%;
      width: 100px;
      top: 25%;
      color: white;
      text-align: center;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0.5;
      transform: translate3d(0, -180%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, -145%, 0);
    }
  }

  .fadeInDown {
    animation-duration: 1s;
    animation-name: fadeInDown;
  }

}
.row-extraspace {
  padding-top: 35px;
}