@import '../../common/styles/variables.scss';
reward-picker {
  .text-centered {
    text-align: center;
  }
  .invisible {
    opacity: 0;
    position: absolute;
    left: -100000px;
    top: -100000px;
  }
  .page {
    background: $lightGrey;
    .main-content.row {
      margin-bottom: 0;
      padding-bottom: 50px;
    }
    .transfer-sucess {
      text-align: center;
      padding-bottom: 50px;
      h5 {
        font-weight: 900;
      }
      i.material-icons {
        color: $greenMat;
      }
    }
    .input-field {
      @media screen and (max-device-width: $screen-mobile-max) {
        padding: 0 30px;
      }
    }
    .money-desc {
      .description {
        color: grey;
      }
      .money {
        color: $greenMat;
      }
      h5,h4  {
        display: inline-block;
      }
      .row {
        margin: 0;
      }
      @media screen and (max-device-width: $screen-mobile-max) {
        h5 {
          font-size: 3.5rem;
        }
      }
    }
    .row.extra-top {
      margin-top:  20px;
    }
    .video-container {
      width: 100%;
      height: 100%;
      padding: 0;      
    }
    .instructions.row {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .uploaded-qr {
      width: 800px;
      height: 450px;
      margin: 10px 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .file-field {
      display: inline-block;
      &.draw.account-completed {
        margin-bottom: 30px;
      }
      .btn {
        line-height: 2.5rem;
        height: 2.5rem;
      }
      .text-actions {
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        bottom: 50%;
        cursor: pointer;
        &.text-sucess {
          bottom: 35%;
        }
        &.wrong {
          color: $redAccent2;
           .material-icons {
             transform: rotate(45deg);
           }
        }
        &.right {
          color: $greenMat;
          .material-icons.large {
            border: none;
            font-size: 10rem;

          }
        }
        @media screen and (max-device-width: $screen-mobile-max) {
          bottom: 35%;
        }
        h6  {
          text-transform: uppercase;
          font-weight: 600;
          padding-bottom: 10px;
          @media screen and (max-device-width : $screen-desktop-min) {
            font-size: 3.5rem;
            padding-bottom: 30px;
          }
        }
        .material-icons {
          border-radius: 50%;
          border: 3px solid;
          @media screen and (max-device-width : $screen-desktop-min) {
            font-size: 6rem;
            border: 7px solid;
          }          
        }
      }
    }
    qr-scanner {
      video {
        border-radius: 10px;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}