
<div class="page">
  <div class="main-title row">
    <h5>Obten tu recompeza!</h5>
  </div>
  <div class="main-content row text-centered">
    <h5 class="instructions row"><b>Escanea</b> el codigo <b>o sube </b> la imagen </h5>
    <div class="file-field draw account-completed"  (mouseover)="!img && !mobile && setFocusUpload()" (mouseleave)="!img && !mobile && unFocusUpload()" [ngClass]="{'action': img || mobile }">
      <div class="text-actions text-centered file-field" [hidden]="!focusUpload">
        <h6>sube el codigo</h6>
        <i class="material-icons medium">file_upload</i>
        <input  [hidden]="scannedValue" type="file" accept="image/*;capture=camera" (change)="fileChange($event)">
      </div>
      <div class="text-actions text-centered file-field wrong" [hidden]="!invalidQr">
        <h6>Qr invalido</h6>
        <i class="material-icons medium">add_circle</i>
        <input  [hidden]="scannedValue" type="file" accept="image/*;capture=camera" (change)="fileChange($event)">
      </div>
      <div class="text-actions text-sucess text-centered right" [hidden]="!transacionSucess">
        <i class="material-icons large">check_circle</i>
      </div>      
      <div class="video-img-block" [ngClass]="{'blur-filter ': focusUpload || transacionSucess}">
        <div  *ngIf="img || mobile"  class="uploaded-qr" [ngStyle]="{'background-image': 'url(' + img + ')' }"> </div>
          <qr-scanner [hidden]="img" *ngIf="!mobile" [stopScan]="stopScan" [startScan]="startScan" (scannedValue)="getScanned($event)" (cameras)="getCameras($event)"></qr-scanner>
       </div> 
        <input  [hidden]="scannedValue" type="file" accept="image/*;capture=camera" (change)="fileChange($event)">
    </div>
    <h4>Value: {{scannedValue}}</h4>
    <div #RewardAprox></div>
    <form name="rewards" class="create-account" #RewardForm="ngForm" (ngSubmit)="rewarded()" *ngIf="transacionSucess">
      <div class="row input-fields">
        <div class="input-field  alt-black  col l3 push-l3 s12" [ngClass]="{'wrong-red': false}">
          <input type="text" name="account" id="account" [(ngModel)]="accountNumber">
          <label for="account">Número de cuenta o tarjeta</label>
        </div>
        <div class="input-field  alt-black  col l3 push-l3 s12" [ngClass]="{'wrong-red': false}">
            <input type="text" name="name" id="name"  [(ngModel)]="name">
            <label for="name">Nombre</label>
        </div>
      </div>
      <div class="row money-desc">
        <div class="col l6 push-l3 s12">
          <div class="row">
            <h5 class="description row"> <b> $ 2500.00</b> - 22% = $ 1,950.00 MXN</h5>
          </div>
          <div class="row">
            <h5>Total: </h5> <h4 class="money row"> $ 1,950.00 MXN</h4>
          </div>
        </div>
      </div>
      <div class="row centered row-extraspace">
        <button type="submit" class="waves-effect btn action col l2 s8" [disabled]="loading" (click)="rewardMe($event)">
          <div [hidden]="loading">Recompénsame<i class="medium material-icons right">monetization_on</i></div>
          <div [hidden]="!loading">cargando ...</div>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- total -->
<!-- numero de cuenta o tarjeta de debito -->
