@import '../../common/styles/variables.scss';
information {
  .icons-about {
    width: 150px;
    height: 160px;
    @media screen and (max-device-width: $screen-mobile-max) {
      width: 190px;
      height: 200px;
    }
  }
  .text-centered {
    text-align: center;
  }
  .money-color {
    color: $greenMat;
  }
  .info {
    background-color: $lightGrey;
    .main-content {
      margin-bottom: 0;
      ul.bullets{
        padding-left: 40px;
        list-style-type: square;
        li {
          list-style-type: square;
        }
      }
      .subtitle {
        text-align: center;
        padding-top: 30px;
      }
      .data {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
  }
}