@import '../../common/styles/variables.scss';
information {
  .info {
    background-color: $lightGrey;
    .main-content {
      margin-bottom: 0;
      ul.bullets{
        padding-left: 40px;
        list-style-type: square;
        li {
          list-style-type: square;
        }
      }
      .subtitle {
        text-align: center;
        padding-top: 30px;
      }
      .data {
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
  }
}