<div class="page board">
  <div class="scrollable">
    <section  title="filtros" class="row title-filtes" [ngClass]="{'blur-filter': dogCardService.open}" [ngStyle]="{'width': screenWidth  + extraWidth + 'px'}">
      <div class="filter" *ngFor="let filter of filtersKey;let i= index" [ngStyle]="{'width': filterElements[filter].width}">
        <h5 class="filter-title" (click)="enableComponent(filter, i)" *ngIf="!filterElements[filter].answer" [ngClass]="{'active': filterElements[filter] && filterElements[filter].enable}">{{filterElements[filter].label}}</h5>
        <div class="filter-element" #AnswerBlock *ngIf="filterElements[filter].answer && !window.Array.isArray(filterElements[filter].answer)"  title="caracteristicas selecionada" (click)="enableComponent(filter, i)"  id="{{filter}}">
          <div title="cerrar" class="close-icon" (click)="imgBlockRemove(filter)">
            <i class="tiny material-icons">close</i>
          </div>
          <p *ngIf="filterElements[filter].typeOfAnswer==='location'" class="answer-text">{{filterElements[filter].answer.address}}</p>
          <p *ngIf="filterElements[filter].typeOfAnswer==='date'" class="answer-text">{{filterElements[filter].answer}}</p>
          <p *ngIf="filterElements[filter].typeOfAnswer==='image'" class="answer-text">{{filterElements[filter].answer.name}}</p>
        </div>
        <div class="filter-element multiple" #AnswerBlock *ngIf="filterElements[filter].answer && window.Array.isArray(filterElements[filter].answer)"  title="caracteristicas selecionada"  id="{{filter}}">
          <div class="answerSelected" *ngFor="let answerSelected of filterElements[filter].answer; let j = index" (click)="enableComponent(filter, i)">
            <div title="cerrar" class="close-icon" (click)="multipleBlockRemove(filter, j)">
              <i class="tiny material-icons">close</i>
            </div>
            <p class="answer-text">{{answerSelected.name}}</p>          
          </div>
        </div>      
    </div>
    </section>
  </div>
  <section class="row component-filter" >
    <gender-block (selectedEmitter)="selectionReciver('gender', $event)" [removedElement]="filterElements.gender.answer" [hidden]="!filterElements.gender.enable"></gender-block>
    <breed-block (selectedEmitter)="selectionReciver('breed', $event)" [removedElement]="filterElements.breed.answer" [hidden]="!filterElements.breed.enable"></breed-block>
    <size-block (selectedEmitter)="selectionReciver('size', $event)" [removedElement]="filterElements.size.answer" [hidden]="!filterElements.size.enable"></size-block>
    <color-block (selectedEmitter)="selectionReciver('color', $event)" [removedElement]="filterElements.color.answer" [hidden]="!filterElements.color.enable"></color-block>
    <extras-block (selectedEmitter)="selectionReciver('extras', $event)" [removedElement]="filterElements.extras.answer" [hidden]="!filterElements.extras.enable"></extras-block>
    <date-picker  (seletedDateEmitter)="selectionReciver('date', $event)"  [reset]="resetDate" [hidden]="!filterElements.date.enable"></date-picker>
    <map (locationAdressEmiter)="locationReciver($event)" (locationEmiter)="locationReciver($event)" [ngClass]="{'far-away': !initMap}" [ngStyle]="{'width': screenWidth + 'px'}"></map>
  </section>
  <section title="resultados"  class="row results">
    <div *ngIf="dogCardService.open" class="block-back col l12"></div>
      <dog-card *ngFor="let card of dogCards;let i= index" (click)="userAt=i;" [cardIndex]="i" [userAt]="userAt"></dog-card> 
  </section>
  <!-- <section title="paginacion"  class="row pagination" [ngClass]="{'blur-filter': dogCardService.open}"></section> -->
</div>