@import '../../common/styles/variables.scss';
.login-page {
    background: $lightGrey;
    margin-bottom: 0;
    .forgot {
      padding-bottom: 100px;
      text-align: center;
      margin-bottom: 0;
      .forgot-sucess  {
        padding-top: 100px;
        i.material-icons {
          color: $greenMat;
        }

      }
    }
  form {
    padding: 100px 0;
    .login-link {
      padding: 20px 0;
      width: 100%;
    }
    .login-fields {
      padding: 0 60px;
    }
    @media screen and (max-device-width: $screen-mobile-max) {
      .login-link {
        padding-top: 50px;
      }
      a {
        font-size: 2.2rem;
        line-height: 5rem;
      }
    }
  }
}